<div class="form-container">
  <div class="form-elements">

    <h1>Enter dose for <%= @cocktail.name %></h1>

    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

    <button type="button" class="btn btn-outline-primary back-btn"><%= link_to 'Back', cocktail_path(@cocktail) %></button>

  </div>
</div>